@import 'global/fonts';
@import 'global/reset';

@import 'global/vars';
@import 'global/ints';


html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Zen Dots', sans-serif;
  font-size: 17px;
  color: $secondary;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  background-color: $dark;

  &.lock {
    overflow-y: hidden;
  }
}

main {
 
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@import 'lego/header';
@import 'lego/footer';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}



.section {
  padding: 80px 0 20px;
  background-color: $dark;
}

.title {
  font-family: 'Nastup-Basic',
    sans-serif;
  font-size: 88px;
  line-height: 1;
  letter-spacing: .08em;
  color: $white;

}

.title-h3 {
  font-size: 24px;
  color: $accent;
}

.heading {

  &__subtitle {
    font-size: 24px;
    color: $accent;
    margin-bottom: 20px;
  }
}

.footer {
  height: 400px;
  background-color: $dark;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 48px;
  height: 48px;

  &__icon {
    fill: $dark;
    transition: fill 0.4s;
  }

  &:focus {
    outline: solid 1px rgba($dark, 0);
  }

  &:hover {
    .btn__icon {
      fill: $accent-dark;
    }
  }

   &:active {
     .btn__icon {
       fill: $accent-secondary;
     }
   }

}