
@import 'global/reset';

@import 'global/vars';
@import 'global/ints';


html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  overflow-x: hidden;
  
  &.lock {
    overflow-y: hidden;
  }
}

main {
  flex-grow: 1;
}

.wrapper {
   position: relative;
   overflow-x: hidden;

   &.lock {
     overflow-y: hidden;
   }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@import 'lego/header';
@import 'lego/footer';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}

