.button {
  padding: 14px 56px;
  border-radius: 30px;
  font-size: 19px;
  line-height: 1;
  border: 1px solid $accent-dark;
  color: $white;
  background-color: $accent-secondary;
  transition: outline 0.4s, transform 0.4s, background-color 0.4s, color 0.4s;

  &:focus {
    outline: 1px solid $accent-secondary;
    outline-offset: 4px;
  }

  &:active {
    transform: scale(0.8);
  }

  &:hover {
    background-color: $accent-dark;
  }

  &:disabled {
    background-color: $dark;
    color: $secondary;
    pointer-events: none;
    border-color: $secondary;
  }

}