@import 'global/global';


.color-wrapper {
  background-color: $accent;
  margin-top: -30px;
}

.wrapper-day3 {
  position: relative;
}

.container-day3 {
  position: relative;
  transform-origin: top left;
  width: 100vw;
  min-height: 100vh;
  transition: transform 0.5s linear;

  &.show-nav {
    transform: rotate(-20deg);

    .circle-container__inner {
      transform: rotate(-70deg);
    }
  }
}

.circle-container {
  position: fixed;
  z-index: 100;
  top: -200px;
  left: -200px;

  &__inner {
    position: relative;
    background-color: $accent;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transition: transform 0.5s linear;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;

    &--open {
      left: 60%;
    }

    &--close {
      top: 60%;
      transform: rotate(90deg);
      transform-origin: top left;
    }

  }
}

.day3 {
  padding-bottom: 200px;
  margin-top: -30px;

  &__top {
    margin-bottom: 60px;
  }

  &__heading {
    margin-bottom: 80px;
  }

  &__title {
    font-size: 75px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__info {
    max-width: 570px;
    width: 100%;
  }

  &__headline {
    margin-bottom: 16px;
    font-size: 38px;
    color: $accent;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    margin-bottom: 4px;
    color: $light;
    font-size: 24px;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
  }

}

.nav-day3 {
  position: fixed;
  bottom: 40px;
  left: 0px;

  &.show {
    .nav-day3__list {
      transform: translateX(0);
      transition-delay: 0.3s;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;


  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $dark;
    transition: outlines 0.4s, color 0.4s;

    &:focus {
      outline: solid 1px $dark;
    }

    &:hover {
      color: $accent-dark;
    }

    &:active {
      color: $accent-dark;
    }
  }

  &__icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

}