<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__image" src="./images/logo.png" alt="logo front-end developer Iryna Kozlova">
      </a>
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link @@home" href="#">
              home
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              days
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              contact
            </a>
          </li>
        </ul>
      </nav>
      <div class="search">
        <input class="search__input" type="text" placeholder="Search">
        <button class=" search__btn">
          <svg class="search__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-search"></use>
        </button>
      </div>

    </div>
  </div>
</header>